
<div class="npaginator offset-1">
  <%= paginate @places %>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="row">

      <div class="col">

        <!-- <div class="col-6"> -->

          <h1><%= link_to place.name, place_path(place) %></h1><br />
          <i><%= place.address %></i><br /><br />
          <p><%= place.description %></p><br />

          <% if place.user.present? %>
            <small><%= place.user.email %></small>
          <% end %>

            <% if place.comments.present? %>
              <!-- <div class="col-12"> -->
              <div>
                <blockquote>
                  <% if place.comments.last.humanized_rating.present? %>
                    <b><%= place.comments.last.humanized_rating %>: </b>
                  <% end %>
                  <%= place.comments.last.message %>
                  <br />
                  <small><%= place.comments.last.user.email %></small>
                </blockquote>
              </div>
            <% end %>

        <!-- </div> -->

      </div>

      <div class="col">

        <!-- <div class="col-6"> -->
            <!-- display the first photo if photos present -->
            <% if place.photos.present? && ! place.photos.first.picture.file.nil? %>
                <!-- <div class="col-12 col-sm-4"> -->
                <!-- <div class="col-sm-6"> -->
                <div>
                  <br />
                  <%= image_tag place.photos.first.picture.url %>
                  <!-- <blockquote> -->
                    <br />
                    <%= place.photos.first.caption %>
                  <!-- </blockquote> -->
                </div>
            <% end %>
        <!-- </div> -->

      </div>

    </div>    
  </div>
<% end %>

<div class="npaginator offset-1">
  <%= paginate @places %>
</div>


